.TimeZoneHeader
{
  background-color: #ffdd00 ;
}

.TimeZoneFooter
{
  background-color: #f0e0ff ;
}

.NameInput
{
  width: 100%;
  border-color: #8888ff;
  border-style: dotted;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  font-size: 20px;
}
