.NameInput
{
  width: 100%;
  border-color: #8888ff;
  border-style: dotted;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}

.AccountCell
{
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 1px green dashed ;
}

#HtPasswordTitle
{
  background-color: #ffcc00 ;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 2px blue dashed ;
  text-align: center ;
}

#AccountTitle
{
  background-color: #44ffcc ;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 2px blue dashed ;
  text-align: center ;
}

#PasswordTable
{
  border-top: 1px gray solid ;
  border-right: 1px gray solid ;
  border-left: 1px gray solid ;
  border-bottom: 1px gray solid ;
}
