<link rel="stylesheet" type="text/css" href="/extensions/TimeZones/modules/CIOS/CIOS.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/extensions/TimeZones/css/TimeZones.css" media="screen" />
<script type="text/javascript" src="/resources/lib/jquery/jquery.js"></script>
<script type="text/javascript" src="/extensions/TimeZones/modules/CIOS/CIOS.js"></script>
<script type="text/javascript" src="/extensions/TimeZones/modules/TimeZones.js"></script>
<div id="TimeZones">
<input type="hidden" id="TzRootPath" value="$(TZ-ROOT-PATH)">
$(TIMEZONE-BLOCK)
</div>
